<section>
<div class = 'the-user'>
    <div class = 'user-activity'>
        <h2><%= @first_post.author.name %></h2>
        <p>Number of posts: <%= @first_post.author.posts_counter %></p>
    </div>
</div>
<div class='user-posts'>
    <% @posts.each do |post| %>
    <div class='listed-posts'>
    <h4><%= link_to post.title, user_post_path(post) %></h4>
    <p><%= post.text %></p>

    <span class = 'comment-likes'>
        Comments: <%= post.comments_counter || 0 %>
        Likes: <%= post.likes_counter || 0 %>
    </span>
    </div>
    <ul class = 'comments-info'>
       <% if post.five_recent_comments.length == 0 %>
         <p>No comments yet</p>
         <% else %>
            <% post.comments.each do |comment| %> 
                <li><%= comment.author.name %> : <%= comment.text %></li>
                <% end %>
        <% end %>
    </ul>
    <% end %>
</div>  
</section>